a{
    text-decoration: none;
}
.padding-left-10{
    padding-left: 10px;
}
.main-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
    min-height: 100vh;
     background-color: #ecf0f1;

}
.footer{
    background-color: #526473;
    height: 40px;
}
.main-menu{
    padding: 0;
    margin: 0;
    text-align: right;
    
    .sub-menu{
        padding: 12px 20px;
        cursor: pointer;
        color:#c8d4e0;
        transition: all 300ms;
        span a{
            color:#c8d4e0;
        }
    }
    .sub-menu:hover {
        background-color: #cbb2af;
        color: #fff;
        
       span a{
        color: #fff;
       }
    }
}
.wrapperContainer{
    margin: 0 auto;
    width: 100%;
}