.add-user-output{
    color:#0DA6FA;
    width: 92%;
    padding: 10px;
    border: 1px dashed #0DA6FA;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}
.btn-add-output{
    cursor: pointer;
}