.modal{
    width: 0%;
    max-height: 0;
    border: 1px solid #ccc;
    position: absolute;
    top: 20%;
    left: 50%;
    border-radius: 5px;
    z-index: 1001;
    background-color: #fff;
    transition: all 200ms ease-in;
    overflow: hidden;
    box-shadow: -2px 3px 3px #ccc;
    transform: translateX(-50%) translateY(-50%);
}
.modal.modalActive{
    width: 40%;
    max-height: 400px;
}


div.header-modal{
    margin: 0;
}
.header-modal{
    background-color: #DBE0BB;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}
.footer-modal{
    padding: 10px 0;
    text-align: left;
}
.modal-ok{

    border-radius: 3px;
    border: 2px solid #28a745;
    color:#fff;
    background-color:#28a745;
    border-color:#28a745;
    padding: 8px 16px;
    margin: 1px 10px;
    font-weight: 400;
    font-size: 13px;
    transition: all 200ms;

}
.modal-ok:hover{
  
    color:#fff;
    background-color:#218838;
    border-color:#1e7e34;
}
.modal-cancel{
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545;
   
    border-radius: 3px;
    border: 2px solid #dc3545;
    padding: 8px 16px;
    margin: 1px 0px;
    font-weight: 400;
    font-size: 13px;
    transition: all 200ms;
}
.modal-cancel:hover{
    color:#fff;
background-color:#c82333;
border-color:#bd2130;
}