.modal{
    width: 50%;
    height: auto;
    border: 1px solid #ccc;
    position: absolute;
    top: 20%;
    background-color: beige;
    left: 25%;
    border-radius: 5px;
    overflow: hidden;
    display: block;
}
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    position: absolute;
    top: 0;
    left: 0;
}
div.header-modal{
    margin: 0;
}
.header-modal{
    background-color: burlywood;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}
.footer-modal{
    background-color: burlywood;
}