@import './style/color.scss';
@import './style/modal.scss';
@import './style/navBar.scss';
@import './style/user.scss';
@import './style/button.scss';
@import './style/body.scss';
// yarn add node-sass
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul , li{
  text-decoration: none;
  list-style: none;
}
a{
  text-decoration: none;
}