.mainSlider{
    position: relative;
    width: 600px;
    border: 1px solid #ccc;
    height: 200px;
    margin:0 auto;
     overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.content{
    width:max-content;
    position:absolute;
    // top:0;
    // left:20px;
    display: flex;
    transition: all 400ms;
}
.cardSilder{
    padding: 20px 10px;
    margin: 27px 10px;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
}
.leftBtn{
    width: 20px;
    height: 200px;
    background-color: blue;
    position: relative;
  
    color: #fff;
    border: 1px solid blue;
    z-index: 100;
}
.leftBtn:hover{
    background-color:#8686c6;
}
.leftBtn:hover span{
    color:blue;
}
.rightBtn:hover span{
    color:blue;
}
.rightBtn{
    position: relative;
    width: 20px;
    height: 200px;
    background-color: blue;
    color: #fff;
    border: 1px solid blue;
    z-index: 100;

}
.rightBtn:hover{
    background-color: #8686c6;

}
.leftBtn span{
  position: absolute;
  top: 40%;
  right: 30%;
  font-size: 27px;
  cursor: pointer;
  transition: all 300ms;

}
.rightBtn span{
    position: absolute;
    top: 40%;
    right: 1%;
    font-size: 27px;
    cursor: pointer;
    transition: all 300ms;

  }